<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @thing.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @thing.content %>
</p>

<% if(@thing.name != "John") %>
<p><%= image_tag(file_squirrel_path) %></p>
<% end %>

<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
